* {
	margin: 0;
}

body {
	background-color: rgb(255, 255, 210);
}

header {
    height: 150px;
	border-bottom: 2px solid rgb(0, 130, 0);
    background-image: url("doorInForestB.png");
	background-size: cover;
	color: rgb(250, 230, 170);
}
    
nav {
    position: fixed;
    right: 10px;
}

li {
    display: inline-block;
    margin: 30px;
    text-decoration: none;
	font-family: "Boecklins Universe", sans-serif;
    font-size: 16px;
}

h1 {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    text-align: center;
	font-family: "Boecklins Universe", serif;
}

h2, h4 {
	margin-bottom: 20px;
	font-family: "Boecklins Universe", "Times New Roman";
}

section {
    max-width: 650px;
    margin: 60px auto;
    position: relative;
}

article {
    margin-bottom: 50px;
    text-align: left;
    color: rgb(108, 54, 0);
}

img {
	float: left;
	width: 300px;
	border: 1px solid rgb(108, 54, 0);
	margin: 0 20px 20px 0;
}

p {
	margin: 25px 0;
	font-family: Monotype, sans-serif;
}

.title {
	font-style: italic;
	font-weight: bold;
}
	

footer {
	border-top: 2px solid rgb(0, 130, 0);
    height: 180px;
    background-image: url("doorInForestB.png");
	background-size: cover;
}

#copyright {
    padding-top: 100px;  /* Cannot get positions relative and or absolute to move this down. */
	color: rgb(250, 230, 170);
    text-align: center;
	font-family: "Boecklins Universe", Monotype, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
	