* {
	margin: 0 auto;
}

body {
	  text-align: center;
	  font-family: "Open Sans", Arial;
	  } 
	  
header {
        height: 120px;
		border-bottom: 6px solid rgb(63, 67, 134);
		background-image: url("marioBanner.png");
		}
		
h1 {
	position: relative;
	top: 25px;
	font-size: 56px;
    font-family: "Alegreya", Arial;
	font-weight: 900;
	font-style: italic;
	color: rgb(255, 32, 38);
	text-shadow: 3px 3px rgb(0, 0, 0);
	}
	
	
form {
	  min-height: 68vh;
}

ul {
	list-style: none;
}

@media (min-width: 1040px) {	
li {
    display: inline-block;
    width: 30%;
    padding: 35px 15px;
	}
}
	
h4 {
	margin-bottom: 20px;
}

h5 {
	margin-bottom: 10px;
}

input {
	   width: 55px;
	   padding: 2px 2px 2px 7px;
	   border: 2px solid red;
	   border-radius: 7px;
	   margin: 0 8px;
	   font-family: "Open Sans", Arial;
	   font-weight: bold;
	   color: rgb(53, 57, 124);
}

output {
	padding-left: 5px;
	color: rgb(255, 0, 0);
}

button {
	    height: 27px;
		border: 2px solid rgb(255, 32, 38);
		border-radius: 7px;
		margin-bottom: 15px;
		background-color: rgb(254, 192, 0);
		font-weight: bold;
		color: rgb(23, 27, 64);
}

#totalItUp {
	    height: 30px;
		background-color: rgb(23, 27, 64);
		color: rgb(254, 192, 0);
}
	 
footer {
	    position: relative;
		bottom: 0;
		height: 80px;
        padding: 15px;	
		border-top: 6px solid rgb(255, 32, 38);
		margin-top: 30px;
		background-color: rgb(23, 27, 64);
		color: rgb(189, 136, 1);
		font-family: "Comic Relief", Arial;
        font-size: 12px;
		font-weight: bold;
		}
		
footer a {
          text-decoration: none;
		  color: rgb(254, 192, 0);
		  }


@media (max-width: 1039px) {
li {
    display: inline-block;
    max-width: 30%;
    padding: 35px 15px;
	}
}	

@media (max-width: 480px) {
li {
    display: block;
	text-align: center; /*Doesn't center them. margin: 0 auto also doesn't work. */
    padding: 35px 15px;
	}	
	
	h1 {
	position: relative;
	top: 25px;
	font-size: 36px;
    font-family: "Alegreya", Arial;
	font-weight: 900;
	font-style: italic;
	color: rgb(255, 32, 38);
	text-shadow: 3px 3px rgb(0, 0, 0);
	}
}