/* Overall website styling */
* {
	margin: 0;
	box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
	font-family: Candara, Verdana, sans-serif;
}

.container {
	height: 100%;
	display: grid;
	grid-template-areas: "h h h h h h h h h h h h"
						 "m c c c c c c c c c c c"
						 "f f f f f f f f f f f f";
	grid-template-rows: 145px auto 170px;
}

header {
	grid-area: h;
	border-bottom: 1px solid rgb(130, 130, 130);
	background-color: rgb(242, 242, 242);
	}

#logo {
   display: inline-block;
   width: 40%;
   }
   
.headerNav { 
   float: right;
   text-align: right;
}

.headerNavList {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-right: 3em;
    list-style-type: none;
}

footer {
	    grid-area: f;
		padding: 20px;
		border-top: 1px solid rgb(130, 130, 130);
		background-color: rgb(220, 220,220);
		color: rgb(100, 100, 100);
		}
		
#footerDivContainer {
	width: 90%;
	margin: auto;
}

#leftFooterDiv {
			    display: inline-block;
			    width: 40%;
               }
	
#centerFooterDiv {
			      display: inline-block;
			      width: 30%;
                 }
		  
#rightFooterDiv {
				 display: inline-block;
				 position: absolute;
				 right: 0;
			     width: 25%;			 
                }
							
li {
		list-style-type: none;
}
				
.footerLink {
	text-decoration: none;
	
}
				
.home, .services, .about, .careers {
	                                opacity: 0.6;
	                                cursor: not-allowed;
                                   }
								 
#copyright {
            text-align: center;
}

/*Home Page*/

/* This disappears when I put the <a> styling above it. */
#businessPhoto {
	height: 500px;
	border-bottom: 2px solid rgb(50, 50, 50);
	margin: 0;
	background-image: url("meeting.png");
	background-size: cover;
           }

a:link {
	    text-decoration: none;
   color: rgb(50, 116, 175);
}
 
a:visited {
	    text-decoration: none;
        color: rgb(169, 27, 99);
}

#footerLink a:visited {
	    text-decoration: none;
   color: rgb(100, 100, 100);
}

a:hover {
	    text-decoration: none;
   color: rgb(85, 155, 42);
}

a:active {
	    text-decoration: none;
   color: rgb(255, 165, 0);
}

h2 {
	position: absolute;
	top: 30%;
	left: 20%;
	color: white;
	font-size: 60px;
}

/* Services Page */

#areasOfExpertise {
	display: flex;
	justify-content: space-around;
	margin: 40px 10%;
	background-color: rgb(255, 255, 255);
}

.industry {
	         width: 250px;
			 border: 1px solid rgb(100, 100, 100);
			 color: rgb(40, 40, 40);
			 background-repeat: no-repeat;
			 overflow: hidden;
}

.topPic  {
	width: 250px;
	height: 160px;
}

.industryHeader {
	padding: 20px 3px;
	text-align: center;
}

.innerDiv {
	width: 250px;
	padding: 15px 20px;
}

.industry p {
	text-align: left;
}
	
#medicine {
	color: rgb(180, 180, 180);
	text-shadow: 1px 1px rgb(40, 40, 40);
}

#left {
    background-image: url("laptopWithCode.png");
}

#middle {
    background-image: url("healthcare.png");
}

#right {
    background-image: url("innovation.png");
}

/* Careers Page */

.menu {
    grid-area: m;
	padding: 25px;
	border-right: 1px solid gray;
}

h4, .careersNav {
	margin: 4px;
}

.content {
    grid-area: c;
	padding: 5px 25px 30px;
}

.jobSearch {
	padding-bottom: 20px;
	border-bottom: 1px solid gray;
	margin-bottom: 30px;
	text-align: center;
}

#search {
	width: 275px;
	padding: 3px;
	margin: 5px;
}

form {
	height: 100%;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(12, auto);
}

.instructions {
	margin: 15px;
	font-weight: bold;
}

.inp-left {
	grid-column: 2/3;
	text-align: right;
}

.inp-right {
	grid-column: 3/4;
	text-align: right;
}

input {
	padding: 1px 3px;
	margin: 5px;
	text-align: left;
}
.options {
	grid-column: 2 / 6;
	padding-left: 35px;
	margin-top: 12px;
}
.checkbox {
	margin-left: 0;
}

button {
	grid-column: 3 / 4;
	width: 90px;
	margin-top: 25px;
}

/* About Page */

.blurb {
	width: 70%;
	margin: 40px auto;
}

.blurb p {
	padding: 10px;
	font-size: 18px;
	line-height: 1.5em;
	color: rgb(100,100,100);
}

#values p {
	text-indent: 30px;
}

#values span {
     color: rgb(0, 0, 0);
}

.companyTeam {
	float: left;
	width: 150px;
	border: 1px solid rgb(170, 170, 170);
	margin: 16px;
}

span {
	font-weight: bold;
}		 
		   
			