/* Responsive color grid using Flexbox.
At screen widths below 768px, each colored section
should span the screen. At 768px and wider, the sections
should be twice the height and with larger margins between them.
--- top row: pink still spans the screen width
--- second row: four equal fuchsia sections
--- third row: two equal aqua sections
--- fourth row: a green section on the left, 2/3 - 3/4 of the total width
and a dark orange section on the right, 1/4 - 1/3 total width. */

* {
	box-sizing: border-box;
	margin: 50px auto;
}

/* below 768px:
#container {
	display: flex;
	margin: 80px 30px;
}

.box {
	width: 100%;
	height: 60px;
	margin: 3px;
} */

/* 768px and wider */
.container {
	display: flex;
	flex-direction: column;
	width: 80vw;
	height: 540px;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	height: 25%;
}

.box {
	flex-wrap: nowrap;
	height: 120px;
	margin: 8px;
}

.pink {
	width: 100%;
	background-color: #F5C6D6;
}

.fuchsia {
	flex-wrap: nowrap;
    width: 23.5%;
	background-color: #EE2E84;
}

.aqua {
    width: 48.5%;
	background-color: #85CFD8;
}

.green {
	flex: 2;
	background-color: #8DC63F;
}

.darkOrange {
	flex: 1;
	background-color: #E76E34;
}